.slider {
  -webkit-appearance: none;
  height: 12px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
};

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 75%;
  background: #b7791f;
  cursor: pointer;
};

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 75%;
  background: orange;
  cursor: pointer;
};



.about__section-item {
  column-gap: 3rem;
}

.about__section-item p i {
  color: #f9a826;
  font-size: 1.1rem;
}

@media only screen and (max-width: 992px) {
  .about__section-content h2 {
    font-size: 1.5rem;
  }
  .about__section-item {
    column-gap: 3rem;
  }
  .about__section-item p {
    font-size: 0.6rem;
    margin-bottom: 0;
  }

  .section__description i {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .about__img {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .about__section {
    margin-top: 280px;
  }
}
/* ======== google fonts ======== */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* ======= base style ====== */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
} */

/* ========= pre-define css ========= */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: firebrick;
  font-weight: 600;
  margin-bottom: 0;
}

h3,
h4 {
  font-size: 1.6rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  list-style: none;
}

.section__title {
  color: firebrick;
  font-weight: 600;
  font-size: 2.5rem;
}

.section__subtitle {
  color: green;
  font-weight: 600;
  font-size: 1.2rem;

}

.section__description {
  color: #7c8a97;
  font-size: 1rem;
  
  line-height: 30px;
}
.shopnow{
  color: white;
  margin-top: 2%;
}
.join{
  width: 100%;
}
/* section {
  padding: 50px 0px;
} */

.btn {
  padding: 7px 15px;
  background: firebrick;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  color: #fff !important;
  background: firebrick;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 30px 0px;
  }

  .section__title {
    font-size: 1.6rem;
  }

  .section__subtitle {
    font-size: 1.1rem;
  }
}
/* become driver */

.become__driver {
  background: linear-gradient(firebrick, firebrick),
    url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 0px;
}

.become__driver button {
  background: #fff;
  color: firebrick;
  font-weight: 600;
}

.become__driver-title {
  font-size: 2.8rem;
  color: #fff;
  line-height: 65px;
}

@media only screen and (max-width: 992px) {
  .become__driver-title {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .become__driver {
    padding: 50px 0px;
  }

  .become__driver-title {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }

  .become__driver-btn {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 576px) {
  .become__driver-img {
    display: none;
  }
  .become__driver {
    text-align: center;
  }
}
.product{
  margin-left: 5%;
  margin-bottom: 5%;

}
 .images img{
  width: 100%;
  height: 80%;
 
}
/* product */
.product h1{
  margin-top: 5%;
  text-align: center;
  font-size: 50px;

}
.product p{
  text-align: center;
  font-size: 20px;

}
.name{
  color: firebrick;
  font-size: 20px;
  margin-left: 3%;
  font-weight: 600;
}
.price{
  color: firebrick;
  font-size: 20px;
  margin-left: 3%;
}
.icon, .rating, .love{
  color: firebrick;
  font-size: 20px;
  
}
.icon1 i{
  color: green;
}
/* testimonials */


@media only screen and (max-width: 768px) {
  .testimonial p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .testimonial h6 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .testimonial img {
    width: 60px !important;
    height: 60px !important;
    object-fit: cover;
  }
}
/* serices */
.service__item span i {
  font-size: 2.5rem;
  color: firebrick;
}

.service__item h6 {
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s;
}

.service__item h6:hover {
  color: #f9a826;
}

@media only screen and (max-width: 768px) {
  .service__item h6 {
    font-size: 1.1rem;
  }
}


